<% layout("./layouts/common.ejs") %>
<body>
    <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input type="text" name="title" id="" placeholder="Enter Title" class="form-control"required >
          <div class="valid-feedback">Looks good</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="text" name="description" id="" placeholder="Enter Description" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Category</label>
            <select class="form-select" name="category" aria-label="Default select example" required>
              <option selected disabled>Select Category</option>
              <option value="Amazing Pools">Amazing Pools</option>
              <option value="Amazing Views">Amazing Views</option>
              <option value="Farms">Farms</option>
              <option value="Luxu">Luxu</option>
              <option value="Lakefront">Lakefront</option>
              <option value="Islands">Islands</option>
              <option value="Castles">Castles </option>
              <option value="Beachfront">Beachfront</option>
              <option value="Camping">Camping</option>
            </select>
            
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image Url</label>
            <input type="file" name="image" id="" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Price</label>
            <input type="number" name="price" id="" placeholder="Enter Price" class="form-control" required>
          </div>
          
          <div class="mb-3">
            <label for="exampleInputEmail1" class=" form-label">Location & Country</label>
            <div class="input-group">
                <input type="text" name="location" id="" placeholder="Enter Location" class="form-control" required>
                <input type="text" name="country" id="" placeholder="Enter Country" class="form-control" required>
            </div>
          </div>
        
        <button type="submit" class="btn btn-primary d-flex mx-auto px-5">Submit</button>
      </form>
</body>
