<% layout("./layouts/common.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center">Login to your account</h1>
            <div class="col-6 offset-3">
                <form action="/login" method="post" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" required>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</body>